.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.motherhoodImg {
  width: 80%;
  height: auto;
  border-radius: 15px;
}
