.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header h1 {
    text-transform: uppercase;
    align-self: center;
    letter-spacing: 0.6pc;
    margin: 16px;
}