.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--header-background-light);
    height: fit-content;
}

@media (prefers-color-scheme: light) {
    .header {
        background-color: var(--header-background-light);
    }
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.6pc;
    margin: 16px;
}
