.submenu {
    display: flex;
    justify-content: center;
}

.subItem {
    margin: 0 16px;
    font-weight: 500;
    background-color: rgba(179, 178, 175, 0.521);
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.subItem:hover {
    background-color: rgba(181, 171, 141, 0.68);
}

@media screen and (min-width: 768px) {
    .subItem {
        font-size: 14px;
    }
}